<h1>Browse By Genre</h1>

<div class="add-button">
    <a href="/genres/new"><button>Add New Genre</button></a>
</div>

<%for genre in @genres%>
    <ul id="genres-list">
        <li><a href="/genres/<%=genre.id%>/books"><%=genre.type.upcase%></a></li>
    </ul>
<%end%>