<h1>All Authors</h1>

<div>
    <a href="/authors/new"><button>Add New Author</button></a>
</div>

<%for author in @authors%>
    <table>
        <tr>
            <th>Last name:</th>
            <td><%=author.last_name%></td>
        </tr>
        <tr>
            <th>First name:</th>
            <td><%=author.first_name%></td>
        </tr>
    </table>
    <div>
        <a href="/authors/<%=author.id%>"><button>Author Details</button></a>
    </div>
    <div>
        <a href="/authors/<%=author.id%>/books"><button>Books</button></a>
    </div>
  <hr/>  
<%end%>    